body {
  margin: 0;
  padding: 0;
  background: #140f1d;
}

body .title {
  width: 100%;
  height: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: deepskyblue;
}

body .title h1 {
  text-align: center;
}

body .contWrap {
  width: 100%;
}

body .contWrap .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .contWrap .box .boxForm {
  position: relative;
}

body .contWrap .box .input {
  padding: 10px;
  width: 80px;
  height: 80px;
  background: none;
  border: 4px solid deepskyblue;
  border-radius: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: monospace;
  font-size: 30px;
  font-weight: 900;
  color: deepskyblue;
  outline: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body .contWrap .box i {
  position: absolute;
  top: 37px;
  right: 9px;
  -webkit-transform: translate(-40%, -40%);
          transform: translate(-40%, -40%);
  font-size: 36px;
  color: deepskyblue;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

body .contWrap .box:hover input {
  width: 350px;
  background: #272133;
  border-radius: 10px;
}

@media (min-width: 320px) and (max-width: 757px) {
  .title h1 {
    font-size: 1.7em;
  }
  .box:hover input {
    width: 310px !important;
    background: #272133;
    border-radius: 10px;
  }
}
